<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

<%= form_for(@comment, url:blog_comment_path) do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit %>
  
<% end %>

<%= link_to "コメント画面にもどる", blog_comment_path %>


</div>
</div>